<h1>About</h1>
<table border="1">
	<thead>
		<tr>
			<th>Name</th>
			<th>Email</th>
			<th>Phone number</th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<td>Peter</td>
			<td>peter@peter.com</td>
			<td>123</td>
		</tr>
		<tr>
			<td>Alice</td>
			<td>alice@peter.com</td>
			<td>321</td>
		</tr>
	</tbody>
</table>