<h1>Products!</h1>

{{#if products.length}}
	
	{{#each products}}
		<article>
			<h2>{{name}}</h2>
			<p>{{description}}</p>
			<a href="/products/{{id}}">Read more</a>
		</article>
	{{/each}}
	
{{else}}
	<p>All products are sold!</p>
{{/if}}