<h1>Products!</h1>

<article>
	<h2>Book</h2>
	<p>Bye a good book.</p>
</article>

<article>
	<h2>Movie</h2>
	<p>Bye a good movie.</p>
</article>

<article>
	<h2>Computer</h2>
	<p>Bye a good computer.</p>
</article>